<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calcinsulina.FMU.projetointegrado">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.TelaPrincipal"/>
        <activity android:name=".View.TelaConfig" />
        <activity android:name=".View.TelaCarregando" />
        <activity android:name=".View.TelaCadastro" />
        <activity android:name=".View.TelaCalculadora" />
        <activity
            android:name=".View.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>